<div class="row">
    <div class="col-md-8 offset-4">
        <h1 class="text-info">Pick-a-Boo!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Festivals" asp-action="Index">Home Page</a>
    </div>
</div>